<body>
<center>

<div class="container-fluid">
<div class="form-group">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <h3><%= f.label :email %><br /></h3>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>



  <div class="field">
    <h3><%= f.label :password %><br /></h3>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>


  
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <p>
      <%= f.check_box :remember_me %>
      Zapamiętaj mnie
      </p>
  <% end %>
</div>


  <div class="actions">
    <%= f.submit "Zaloguj się", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
<hr class="solid">
<%= render "devise/shared/links" %>
</div>
</body>